body {
    font-family: Roboto, sans-serif;
    margin: 0;
    
}

.part1 {
    height: 350px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
}

.header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header1 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: auto;
}

.header2, .awesome-sub {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome {
    display: flex;
    justify-content: space-between;
}

.awesome1 {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 12px;
}

.awesome-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome-button {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    font-weight: bold;
}

.awesome2 {
    height: 200px;
    width: 400px;
    background-color: rgba(167, 177, 177, 0.856);
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part2 {
    height: 350px;
    padding: 30px;
    padding-bottom: 70px;
}

.part2_info {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 70px;
}

.part2_boxes {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.part2_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    gap: 16px;
}


.box {
    height: 120px;
    width: 120px;
    border: 5px solid rgb(92, 207, 227);
    border-radius: 10px;

}

.box_text {
    color: rgb(144, 137, 137);
}

.part3 {
    height: 350px;
    padding: 50px 270px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part3_text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    
}

.part3_god {
    align-self: flex-end;
    font-size: 28px;
    font-weight: 800;
}

.part4 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigbox {
    height: 150px;
    width: 900px;
    background-color: #3882F6;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bigbox_texts {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.text1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.text2 {
    color: rgba(226, 221, 221, 0.978);
    font-size: 16px;
}

.bigbox_button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 18px;
}

.part5 {
    height: 80px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odin {
    color: rgb(214, 210, 210);
    font-size: 18px;
}